* {
  padding: 0px;
  margin: 0px;
}
/* Fonts */
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Inter */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Common Code */
.container {
  max-width: 1140px;
  margin: 30px auto;
}
body {
  background-color: #f5f8ff;
}

.orange {
  color: #e95a08;
}

/* Header Menu Section */
.logo img {
  height: 82px;
  width: 132px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav a {
  text-decoration: none;
  color: #8987a1;
  font-size: ;
}

.bold-nav-home {
  color: #252432;
  font-weight: 700;
}
.bold-nav-cart {
  color: #252432;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 109px;
}
.text-section-hero {
  flex: 1;
  padding-right: 40px;
  text-align: left;
}
.hero h2 {
  margin-top: 70px;
  font-size: 4em;
  font-weight: 700;
  padding-top: 10px;
  margin-bottom: 13px;
  width: auto;
  line-height: 1.1;
}
.hero p {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
  font-size: 1.4em;
}
.image-section-hero {
  width: 50%;
  flex-shrink: 0;
  max-width: 670px;
  position: relative;
  overflow: hidden;
}
.image-section-hero img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Our Plants Section */
.our-plants {
  margin-top: 120px;
  text-align: center;
}
.our-plants-text {
  justify-items: center;
}
.our-plants-text h2 {
  font-size: 3.1em;
  margin-bottom: 13px;
  font-weight: 700;
}
.our-plants-text p {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
  font-size: 1.4em;
  max-width: 888px;
  align-items: center;
  margin-bottom: 49px;
}
.flower-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-items: center;
  gap: 20px;
  padding: 20px;
}
.card {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card h3 {
  font-size: 1.4em;
  font-weight: 500;
}
.card p {
  font-size: 1.3em;
  margin-top: 20px;
  font-weight: 700;
}
.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}
.btn {
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: #e95a08;
  color: white;
  border: none;
  padding: 19px 60px;
  font-weight: 400;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #e95a08;
  color: #252432;
}

/* Truster Section */
.trusted {
  display: flex;
  margin-top: 210px;
}
.image {
  width: 50%;
  position: relative;
  padding-right: 60px;
}
.badge {
  position: absolute;
  max-width: 286px;
  max-height: auto;
  top: -140px;
  right: -20px;
  z-index: 20px;
}
.trusted-text h2 {
  margin-top: 38px;
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.trusted-text ul li {
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  line-height: 1.5;
}

/*Latest Deals*/
.deals-text {
  margin-top: 120px;
  text-align: center;
  justify-items: center;
}

.deals-text h2 {
  font-size: 3.1em;
  margin-bottom: 13px;
  font-weight: 700;
}
.deals-text p {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
  font-size: 1.4em;
  max-width: 888px;
  align-items: center;
  margin-bottom: 49px;
}
.deals-images {
  display: flex;
  gap: 28px;
}
.container-right-up {
  position: relative;
}
.right-up-deals-images {
  margin-bottom: 25px;
}

.right-up-deals-images img {
  border-radius: 14px;
  filter: grayscale(0.9) saturate(6);
}
.text-block-1 {
  position: absolute;
  color: white;
  top: 80px;
  left: 30px;
  padding-left: 49px;
  padding-right: 49px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.container-right-down {
  position: relative;
}
.right-down-deals-images img {
  border-radius: 14px;
  filter: grayscale(0.9) saturate(6);
}
.text-block-2 {
  position: absolute;
  color: white;
  top: 80px;
  left: 30px;
  padding-left: 49px;
  padding-right: 49px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.container-left {
  position: relative;
}
.left-deals-images img {
  border-radius: 14px;
  filter: grayscale(0.9) saturate(6);
}
.text-block-3 {
  position: absolute;
  color: white;
  top: 180px;
  left: 130px;
  padding-left: 49px;
  padding-right: 49px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
.text-block-3 h4 {
  font-size: 2.5em;
}
.text-block-3 a {
  font-size: 1.6em;
}

/* Join the colorful Bunch */
.join {
  align-items: center;
  justify-items: center;
}
.container-join img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -220px;
  width: 100%;
}
.container-join {
  position: relative;
  min-height: 533px;
  top: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.text-block-join {
  position: absolute;
  color: white;
  top: 3950px;
  left: 700px;
  z-index: 2;
  max-width: 800px;
  width: 100%;
}
.text-block-join h2 {
  font-weight: 700;
  font-size: 3.1em;
  margin-bottom: 30px;
}
.subscribe-form input[type="email"] {
  flex-grow: 1;
  padding: 11px 150px;
  border: none;
  font-size: 1.1em;
  outline: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}
.subscribe-form input[type="email"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.subscribe-form button[type="submit"] {
  padding: 11px 40px;
  background-color: #e95a08;
  color: #fff;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
}

/* Responsive Section */
@media screen and (max-width: 576px) {
  /* Header Menu Section */
  .container {
    max-width: 456px;
    margin: 10px auto;
  }
  .logo img {
    height: 38px;
    width: 63px;
  }
  .nav ul {
    visibility: hidden;
    display: flex;
    gap: 0px;
  }
  .cart {
    visibility: visible;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Hero Section */
  .hero {
    flex-direction: column;
    order: 1;
  }
  .image-section-hero {
    order: 1;
    width: 100%;
    margin-right: -40px;
  }
  .text-section-hero {
    order: 2;
    margin-top: -40px;
  }
  .hero h2 {
    font-size: 1.9em;
  }
  .hero p {
    font-size: 1.05em;
  }

  /* Our Plants */
  .our-plants-text h2 {
    font-size: 1.9em;
    margin-top: 40px;
  }
  .our-plants-text p {
    font-size: 1.05em;
  }
  .flower-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  /* Truster Section */
  .trusted {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .badge {
    visibility: hidden;
  }
  .image img {
    max-width: 456px;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .trusted-text h2 {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }
  .trusted-text ul li {
    max-width: 440px;
    font-size: 1.05em;
    margin-bottom: 30px;
    line-height: 1.5;
    margin-left: 10px;
  }

  /*Latest Deals*/

  .deals-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
  }
  .deals-text h2 {
    font-size: 1.9em;
    margin-bottom: 20px;
  }
  .deals-text p {
    font-size: 1.05em;
  }
  .right-up-deals-images img {
    width: 100%;
    max-width: 440px;
  }
  .right-down-deals-images img {
    width: 100%;
    max-width: 440px;
  }
  .left-deals-images img {
    width: 100%;
    max-width: 440px;
  }
  .text-block-1 {
    top: 100px;
    left: 70px;
  }
  .text-block-2 {
    top: 100px;
    left: 80px;
  }
  .text-block-3 {
    top: 100px;
    left: 60px;
  }
  .text-block-3 h4 {
    font-size: 1.4em;
  }
  .text-block-3 a {
    font-size: 1em;
  }

  /* Join the colorful Bunch Section */
  .container-join img {
    margin-top: -300px;
    max-width: 100%;
    height: auto;
  }

  .text-block-join h2 {
    font-size: 1.8em;
  }
  .subscribe-form input[type="email"] {
    padding: 11px 15px;
    font-size: 1em;
  }
  .subscribe-form button[type="submit"] {
    padding: 11px 15px;
    font-size: 1em;
  }
  .text-block-join {
    position: absolute;
    color: white;
    top: 5000px;
    left: 100px;
    z-index: 2;
    max-width: 800px;
    width: 100%;
  }
  .container-join {
  top: 80px;
}
