* {
  padding: 0px;
  margin: 0px;
}
/* Fonts */
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Inter */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Common Code */
.container {
  max-width: 1140px;
  margin: 30px auto;
}
body {
  background-color: #f5f8ff;
}

.orange {
  color: #e95a08;
}

/* Header Menu Section */
.logo img {
  height: 82px;
  width: 132px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav a {
  text-decoration: none;
  color: #8987a1;
  font-size: ;
}

.bold-nav-home {
  color: #252432;
  font-weight: 700;
}
.bold-nav-cart {
  color: #252432;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 109px;
}
.text-section-hero {
  flex: 1;
  padding-right: 40px;
  text-align: left;
}
.hero h2 {
  margin-top: 70px;
  font-size: 4em;
  font-weight: 700;
  padding-top: 10px;
  margin-bottom: 13px;
  width: auto;
  line-height: 1.1;
}
.hero p {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
  font-size: 1.4em;
}
.image-section-hero {
  width: 50%;
  flex-shrink: 0;
  max-width: 670px;
  position: relative;
  overflow: hidden;
}
.image-section-hero img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Our Plants Section */
.our-plants {
  margin-top: 120px;
  text-align: center;
}
.our-plants-text {
  justify-items: center;
}
.our-plants-text h2 {
  font-size: 3.1em;
  margin-bottom: 13px;
  font-weight: 700;
}
.our-plants-text p {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
  font-size: 1.4em;
  max-width: 888px;
  align-items: center;
  margin-bottom: 49px;
}
.flower-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-items: center;
  gap: 20px;
  padding: 20px;
}
.card {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card h3 {
  font-size: 1.4em;
  font-weight: 500;
}
.card p {
  font-size: 1.3em;
  margin-top: 20px;
  font-weight: 700;
}
.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}
.btn {
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: #e95a08;
  color: white;
  border: none;
  padding: 19px 60px;
  font-weight: 400;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #e95a08;
  color: #252432;
}

/* Truster Section */
.trusted {
  display: flex;
  margin-top: 210px;
}
.image {
  width: 50%;
  position: relative;
  padding-right: 60px;
}
.badge {
  position: absolute;
  max-width: 286px;
  max-height: auto;
  top: -140px;
  right: -20px;
  z-index: 20px;
}
.trusted-text h2 {
  margin-top: 38px;
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.trusted-text ul li {
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  line-height: 1.5;
}

/* Responsive Section */
@media screen and (max-width: 576px) {
  /* Header Menu Section */
  .container {
    max-width: 456px;
    margin: 10px auto;
  }
  .logo img {
    height: 38px;
    width: 63px;
  }
  .nav ul {
    visibility: hidden;
    display: flex;
    gap: 0px;
  }
  .cart {
    visibility: visible;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Hero Section */
  .hero {
    flex-direction: column;
    order: 1;
  }
  .image-section-hero {
    order: 1;
    width: 100%;
    margin-right: -40px;
  }
  .text-section-hero {
    order: 2;
    margin-top: -40px;
  }
  .hero h2 {
    font-size: 1.9em;
  }
  .hero p {
    font-size: 1.05em;
  }

  /* Our Plants */
  .our-plants-text h2 {
    font-size: 1.9em;
    margin-top: 40px;
  }
  .our-plants-text p {
    font-size: 1.05em;
  }
  .flower-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  /* Truster Section */
  .trusted {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .badge {
    visibility: hidden;
  }
  .image img {
    max-width: 456px;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .trusted-text h2 {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }
  .trusted-text ul li {
    max-width: 440px;
    font-size: 1.05em;
    margin-bottom: 30px;
    line-height: 1.5;
    margin-left: 10px;
  }
}
